:root {
  --color-bg: #120f1d;
--color-bg-variant: #201447;
--color-primary: #4db5ff;
--color-primary-variant: rgba(77, 181, 255, 0.4);}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh !important;
}
/* header {
  background-color: #404040;
  padding: 1rem;
} */
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

main {
  flex: 1;
  min-height: 100vh !important;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040 !important;
  color: black !important;
  max-width: 100% !important;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}
.products {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 250px;
}

.product-info {
  padding: 1rem;
}
.rating span {
  color: #ffc000;
}
.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 60px !important;
}
.small-container {
  max-width: 600px !important;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000 !important;
  color: #f08000 !important;
}
/*sidbar active */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}
.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}


footer {
  background: var(--color-bg-variant);
  padding: 3rem;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 7rem;
}
footer a {
  color: var(--color-primary);
}
.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}
.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  font-size: larger;
  font-weight: bolder;
}
.footer__socials a:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-bg);
}
.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}